@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Lato:wght@700&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	outline: none;
	box-sizing: border-box;
}

html, body {
	background: #fefefe;
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

a {
	color: #00f;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
	margin-top: 89px;
}

section {
	width: 100%;
	min-height: 40vh;
}

















/* Website style */

header {
	width: 100%;
    height: auto;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 25px;
	box-shadow: 0 0 10px #0003;
}

h1 {
	font-family: 'Lato';
	font-weight: 700;
	color: #333;
	transition: 500ms ease-in-out;
}

.header-right {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}

.header-button {
	height: 100%;
    display: inline-block;
    padding: 20px 10px;
    cursor: pointer;
    border-right: 1px solid #fff1;
    background: transparent;
}

header h3 {
	font-size: 1.5em;
	font-family: 'M PLUS Rounded 1c';
	font-weight: 300;
	transition: 200ms ease-in-out;
}

header i {
	font-size: 20px;
}





/* Mobile header view */

.header-menu-button-wrapper {
	position: absolute;
	right: 0;
	top: 0;

	width: 89px;
	height: 89px;
	display: none;
	justify-content: center;
	align-items: center;

	transition: transform 350ms ease-in-out;
}

#mobile-menu-content * {
	color: #fff;
}

.menu-lines-wrapper {
	transform: rotate(0deg);
	transition: 250ms ease-in-out;
}

.menu-button-line {
	width: 40px;
	height: 4px;
	background: #333;
	border-radius: 5px;
}

.menu-button-line__middle {
	transition: all 200ms ease-in-out, opacity 100ms ease-in-out;
}

.menu-button-line__before, .menu-button-line__after {
	position: absolute;
	width: 40px;
	height: 4px;
	background: #333;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}

.menu-button-line__before {
	transform: translateY(-13px);
}
.menu-button-line__after {
	transform: translateY(13px);
}

#mobile-menu {
	width: 100vw;
	height: 100vh;
	background: #556688f8;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	border-radius: 50%;
	transform: translate(50%, -50%) scale(0);
	transition: transform 350ms ease-in-out, border-radius 550ms ease-in-out;
}

#mobile-menu-content {
	width: 100%;
	height: calc(100% - 75px);
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px;
}

#mobile-menu-content * {
	color: #eee;
}

#mobile-menu-content h2, #mobile-menu-content i {
	display: block;
	width: 100%;
	padding: 25px;
	font-size: 30px;
	border-bottom: 1px solid #fff1;
	background: transparent;
	transition: all 250ms ease-in-out;
}
#mobile-menu-content h2:active {
	background: #1111;
}

#mobile-menu-content h2:last-child {
	border-bottom: none;
}

.mobile-shopping-bag {
	font-size: 30px;
	transition: 200ms ease-in-out;
	position: absolute;
	top: 50%;
	right: 94px;
	transform: translateY(-50%);
	z-index: -1;
	display: none;
}

















/* Responsiveness */
@media screen and (max-width: 770px) {
	/* Phone screen */
	.header-right {
		display: none;
	}

	.header-menu-button-wrapper {
		display: flex;
	}

	.mobile-shopping-bag {
		display: block;
	}
}
