@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Lato:wght@300;400;700&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

html, body {
	background: #fefefe;
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	margin: 0 0 10px 0;
}

a {
	color: #00f;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
	margin-top: 89px;
}

section {
	width: 100%;
	min-height: 40vh;
}

















/* Website style */

header {
	width: 100%;
    height: auto;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 25px;
	box-shadow: 0 0 10px #0003;
}

h1 {
	font-family: 'Lato';
	font-weight: 700;
	color: #333;
	transition: 500ms ease-in-out;
	display: inline-block;
}

.header-right {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}

.header-button {
	height: 100%;
    display: inline-block;
    padding: 20px 10px;
    cursor: pointer;
    border-right: 1px solid #fff1;
    background: transparent;
}

header h3 {
	font-size: 1.5em;
	font-family: 'M PLUS Rounded 1c';
	font-weight: 300;
	transition: 200ms ease-in-out;
}

header i {
	font-size: 20px;
}





/* Mobile header view */

.header-menu-button-wrapper {
	position: absolute;
	right: 0;
	top: 0;

	width: 89px;
	height: 89px;
	display: none;
	justify-content: center;
	align-items: center;

	transition: transform 350ms ease-in-out;
}

#mobile-menu-content * {
	color: #fff;
}

.menu-lines-wrapper {
	transform: rotate(0deg);
	transition: 250ms ease-in-out;
}

.menu-button-line {
	width: 40px;
	height: 4px;
	background: #333;
	border-radius: 5px;
}

.menu-button-line__middle {
	transition: all 200ms ease-in-out, opacity 100ms ease-in-out;
}

.menu-button-line__before, .menu-button-line__after {
	position: absolute;
	background: #333;
	transition: all 200ms ease-in-out;
}

.menu-button-line__before {
	transform: translateY(-13px);
}
.menu-button-line__after {
	transform: translateY(13px);
}

#mobile-menu {
	width: 100vw;
	height: 100vh;
	background: #fff;
	position: absolute;
	top: 35px;
	right: 35px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(50%, -50%) scale(0);
	transition: all 450ms ease-in-out, border-radius 600ms ease-in-out;
}

#mobile-menu-content {
	width: 100%;
	height: calc(100% - 75px);
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px;
}

#mobile-menu-content * {
	color: #333;
}

#mobile-menu-content h2, #mobile-menu-content i {
	display: block;
	width: 100%;
	padding: 25px;
	font-size: 30px;
	border-bottom: 1px solid #0001;
	background: transparent;
	transition: all 250ms ease-in-out;
}
#mobile-menu-content h2:active {
	background: #1111;
}

#mobile-menu-content h2:last-child {
	border-bottom: none;
}

.mobile-shopping-bag {
	font-size: 30px;
	transition: 200ms ease-in-out;
	position: absolute;
	top: 50%;
	right: 94px;
	transform: translateY(-50%);
	z-index: -1;
	display: none;
}










/* Home section */

#home-section {
	position: relative;
	width: 100%;
	height: calc(100vh - 89px);
}

#home-section * {
	color: #fff;
}

#home-section-background {
	background: url('images/crystal-lamps-projecting-different-lights-by-touch-and-remote-green+white-and-pink+orange-crystal-light.jpeg');
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80% 50%;
	filter: brightness(0.145);
	position: absolute;
}

#home-section .center {
	top: 45%;
	width: 900px;
	text-align: center;
}

h2 {
	font-size: 70px;
	font-family: 'Lato';
	font-weight: 400;
}

#home-section p {
	font-size: 30px;
	font-family: 'Cabin';
}

















/* Responsiveness */
@media screen and (max-width: 1145px) {
	#home-section .center {
		width: 800px;
	}
	h2 {
		font-size: 60px;
	}
	#home-section p {
		font-size: 25px;
	}
}
@media screen and (max-width: 980px) {
	#home-section .center {
		width: 750px;
	}
	h2 {
		font-size: 55px;
	}
	#home-section p {
		font-size: 25px;
	}
}
@media screen and (max-width: 900px) {
	#home-section .center {
		width: 650px;
	}
	h2 {
		font-size: 50px;
	}
	#home-section p {
		font-size: 22px;
	}
}

@media screen and (max-width: 770px) {
	/* Phone screen */
	.header-right {
		display: none;
	}

	.header-menu-button-wrapper {
		display: flex;
	}

	.mobile-shopping-bag {
		display: block;
	}

	#home-section .center {
		width: 85%;
	}
	h2 {
		font-size: 45px;
	}
	#home-section p {
		font-size: 20px;
	}
}

@media screen and (max-width: 560px) {
	h2 {
		font-size: 40px;
	}
	#home-section p {
		font-size: 18px;
	}
}

@media screen and (max-width: 500px) {
	header {
		padding: 20px;
	}

	#wrapper {
		margin-top: 79px;
	}

	#home-section {
		height: calc(100vh - 79px);
	}

	.header-menu-button-wrapper {
		width: 79px;
		height: 79px;
	}
}



@media screen and (max-width: 430px) {
	h1 {
		font-size: 30px;
	}

	.header-menu-button-wrapper {
		width: 76px;
		height: 76px;
	}

	.mobile-shopping-bag {
		font-size: 25px;
		right: 85px;
	}

	.menu-button-line {
		width: 35px;
	}
	.menu-button-line__before {
		transform: translateY(-11px);
	}
	.menu-button-line__after {
		transform: translateY(11px);
	}

	#wrapper {
		margin-top: 76px;
	}

	#home-section {
		height: calc(100vh - 76px);
	}
}
@media screen and (max-width: 400px) {
	h1 {
		font-size: 25px;
	}

	.header-menu-button-wrapper {
		width: 70px;
		height: 70px;
	}

	.mobile-shopping-bag {
		font-size: 22.5px;
		right: 80px;
	}

	.menu-button-line {
		width: 35px;
	}
	.menu-button-line__before {
		transform: translateY(-11px);
	}
	.menu-button-line__after {
		transform: translateY(11px);
	}

	#wrapper {
		margin-top: 70px;
	}

	#home-section {
		height: calc(100vh - 70px);
	}
}
@media screen and (max-width: 340px) {
	header {
		padding: 20px;
	}

	h1 {
		font-size: 22.5px;
	}

	.header-menu-button-wrapper {
		width: 67px;
		height: 67px;
	}

	.mobile-shopping-bag {
		font-size: 22.5px;
		right: 67.5px;
	}

	.menu-button-line {
		width: 30px;
	}
	.menu-button-line__before {
		transform: translateY(-10px);
	}
	.menu-button-line__after {
		transform: translateY(10px);
	}

	#wrapper {
		margin-top: 67px;
	}

	#home-section {
		height: calc(100vh - 67px);
	}
}
